<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Wish</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="home_container">
        <div class="content">
            <header>
                <h3>HO HO HO</h3>
            </header>

            <div class="left-content">
                <h1>Make a wish</h1>
                <form action="/wish" method='POST' >
                    <input type="text" name="name" placeholder="enter your name">
                    <textarea name="body" id="body" rows="10"></textarea>
                    <input type="submit" class="btn first" value='Post Wish'>
                </form>
            </div>
        </div>
    </div>
</body>
</html>