<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Wish</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="home_container">
        <div class="content">
            <header>
                <h3>HO HO HO</h3>
            </header>

            <div class="left-content">
                <h1>Wishes</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, blanditiis maxime. Fugiat iste perspiciatis modi nisi laudantium blanditiis tenetur saepe dicta dolores obcaecati sit ex architecto, unde consequatur ut est.</p>
                <div class="home_buttons">
                    <a href="/create" class="btn first">Make a wish</a>
                    <a href="/list" class="btn first">See other wishes</a>

                </div>
            </div>
        </div>
    </div>
</body>
</html>